// Body
$body-bg: #ffffff;
$light-blue: #68CEF9;
$black: #000000;
$blue: #14223A;
$oak: #F6BE3B;
$hover-blue: #000B24;
$dark-oak: #D7A31A;

//fonts

    //secular
    @font-face {
        font-family: 'secular';
        src: url('/fonts/secularone/secularone-regular-webfont.woff2') format('woff2'),
            url('/fonts/secularone/secularone-regular-webfont.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$rounded: 'M PLUS Rounded 1c', sans-serif;
