//style homepage//
.title{
    color: $blue;
    font-size: 62px;
    font-family: $rounded;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar-expand-md{
    background-color:$oak ;
    a{
        color: #FFFFFF !important;
    }
}

.homepage-container{
    background-image: url('/image/stock/download.jpeg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    .about-us-homepage{
        background-image: linear-gradient(90deg,rgba(255, 255, 255, 1) 50% ,rgba(255, 255, 255, 0.7) 90% , rgba(255, 255, 255, 0) 100%);
        color: $blue;
        padding: 100px 20px;
        letter-spacing: 1px;
        padding-right: 55px;
        a{
            display:block;
            text-align: right;
            text-decoration: underline;
            padding-right: 55px;
            color: $blue;
            font-size: 900;
            cursor: pointer;
        }
    }
}

//slagingspercentage homepage

.progress-container{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;

    .percentage{
        font-size: 24px;
        font-weight: 900;
    }
    .progress-bar{
        width: 40%;
        height: 20px;
        background-image: linear-gradient(to right, $blue 63%,white 63%, white 100%);
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
        border-radius: 25px;
    }
}

//About us page//
.about-us-container{
    background-color: $blue;
    color: $white;
    padding: 40px 20px;
    border-radius: 10px;
    .col-md-6{
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        font-size: 32px;
    }
    p{
        letter-spacing: 1px;
    }
    .image{
        margin-top: auto;
        margin-bottom: auto;
        border: none;
        border-radius: 55%;
        background-size: cover;
        max-width: 350px;
        height: 300px;
        background-position: right;
    }

}

.about-us-container-white{
    background-color: $white;
    color: $blue;
    padding: 40px 20px;
    border-radius: 10px;
    .col-md-6{
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        font-size: 32px;
    }
    p{
        letter-spacing: 1px;
    }
    .image{
        margin-top: auto;
        margin-bottom: auto;
        border: none;
        border-radius: 55%;
        background-size: cover;
        max-width: 350px;
        height: 300px;
        background-position: left;
    }
    img{
        border: none;
        border-radius: 50%;
    }
    .name-instructor{
        font-weight: 900;
        font-size: 25px;
    }
}
//photo's about us page
.team{
    background-image: url('/image/stock/team.jpeg');
}

.building{
    background-image: url('/image/stock/rijschool.jpeg');
}

.owner{
    background-image: url('/image/stock/eigenaar.jpeg');
    background-position: top !important;
}

//end photo's about us page/

///footer//
footer{
    background-color: $oak;
    padding: 40px 20px;
    color: $white;
    letter-spacing: 1px;
    .col-md{
        margin-left: 20px;
        margin-right: 20px;
    }
    h3{
        color: black;
        font-weight: 900;
    }
    .links-footer{
        a{
            color: $white;
        }
    }

}
